<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>网购模拟系统</title>
    <base href="../../" target="_blank">
    <link rel="stylesheet" href="static/style/include/bootstrap.min.css">
    <link rel="stylesheet" href="static/style/header.css">
    <link rel="stylesheet" href="static/style/index.css">
</head>

<body>
    <div class="container">
      <header class="row mt-4 mb-4">
        <a id="logout">退出登录</a>
      </header>
    </div>
    
    <div id="app">
        <div class="container">
          <div class="row">
            
            <div id="left-block" class="col-6">
              <div v-if="rands.index.arrangement">
                <div class="row"><h2 class="type_key">原产地</h2></div>
                <div v-for="region in regions">
                  <div class="row"><a class="type_value" target="_self" :href="'product/list?region_id=' + region.id">{{ region.name }}</a></div>
                </div>
              </div>
              <div v-else>
                <div class="row"><h2 class="type_key">产品</h2></div>
                <div v-for="category in categories">
                  <div class="row"><a class="type_value" target="_self" :href="'product/list?category_id=' + category.id">{{ category.name }}</a></div>
                </div>
              </div>
            </div>

            <div id="right-block" class="col-6">
              <div v-if="rands.index.arrangement">
                <div class="row"><h2 class="type_key">产品</h2></div>
                <div v-for="category in categories">
                  <div class="row"><a class="type_value" target="_self" :href="'product/list?category_id=' + category.id">{{ category.name }}</a></div>
                </div>
              </div>
              <div v-else>
                <div class="row"><h2 class="type_key">原产地</h2></div>
                <div v-for="region in regions">
                  <div class="row"><a class="type_value" target="_self" :href="'product/list?region_id=' + region.id">{{ region.name }}</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</body>

<script src="static/script/include/vue.min.js"></script>
<script src="static/script/utils/req.js"></script>
<script src="static/script/header.js"></script>
<script>
  var app = new Vue({
    el: '#app',
    data: {
      regions: {},
      categories: {},
      rands: {}
    },
    created: function() {
      this.regions = Object.values(sync_get_data('../api/product/region'));
      this.categories = Object.values(sync_get_data('../api/product/category'));
      this.rands = sync_get_data('../api/user/rand');

      if (this.rands.index.region)   this.regions.reverse();
      if (this.rands.index.category) this.categories.reverse();
      console.log(this.rands);
    }
  });
</script>
</html>
