<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>网购模拟系统</title>
    <base href="../../" target="_blank">
    <link rel="stylesheet" href="static/style/include/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style/header.css">
</head>

<body>
    <div class="container">
      <header class="row mt-4 mb-4">
        <div class="col-10"></div>
        <div class="col-1"><a id="logout">退出登陆</a></div>
        <div class="col-1"></div>
      </header>
    </div>
    
    <div id="app">
        <div class="container">

          <div class="regions">
            <div class="row mt-4 mb-4">
              <h2>地区</h2>
            </div>

            <div v-for="region in regions">
              <div class="row mt-2 mb-2">
                <a :href="'product/list?region_id=' + region.id">{{ region.name }}</a>
              </div>
            </div>
          </div>

          <br/><br/>
          
          <div class="products">
            <div class="row mt-4 mb-4">
              <h2>产品</h2>
            </div>

            <div v-for="category in categories">
              <div class="row mt-2 mb-2">
                <a :href="'product/list?category_id=' + category.id">{{ category.name }}</a>
              </div>
            </div>
          </div>
          
        </div>
    </div>
</body>

<script src="static/script/include/vue.min.js"></script>
<script src="static/script/utils/req.js"></script>
<script src="static/script/header.js"></script>
<script>
  var app = new Vue({
    el: '#app',
    data: {
      regions: {},
      categories: {}
    },
    created: function() {
      this.regions = sync_get_data('../api/product/region');
      this.categories = sync_get_data('../api/product/category');
    }
  });
</script>
</html>
