<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>网购模拟系统</title>
    <base href="../../" target="_blank">
    <link rel="stylesheet" href="static/style/include/bootstrap.min.css">
    <link rel="stylesheet" href="static/style/product_detail.css">
    <link rel="stylesheet" href="static/style/header.css">
    <style>
    </style>
</head>

<body>
  <div class="container">
    <header class="row mt-4 mb-4">
      <div class="col-10"></div>
      <div class="col-1"><a id="logout">退出登陆</a></div>
      <div class="col-1"></div>
    </header>
  </div>

    <div id="app">

<!--  
      <div class="row">
        <div class="col-2"></div>
        <div class="alert alert-success col-8" role="alert">
          This is a success alert—check it out!
        </div>
        <div class="col-2"></div>
      </div>
 -->

      <div class="container">

        <div class="row mt-5">
          <div class="col-1"></div>
          <div class="col-5">
            <div class="left-info-box">
              <div class="img-box">
                <img :src="'static/image/' + product.id + '/' + cur_image_name" />
              </div>

              <div class="d-flex flex-row flex-nowrap preview-box-container">
                <div class="preview-box" v-for="image_name in image_names">
                  <img :src="'static/image/' + product.id + '/' + image_name" v-on:click="switch_image(image_name)" />
                </div>
              </div>

              <p class="product_attr">
                <span class="price">价格: {{ product.price }}</span>
                <span class="sales">销量: {{ product.sales }}</span>
              </p>
            </div>
          </div>

          <div class="col-5">
            <p class="product_name">{{ product.name }}</p>
            <div class="description-box">
              <p class="description">{{ product.description }}</p>
            </div>
            <button id="purchase-button" type="button" class="btn btn-warning col-12" v-on:click="purchase(product.id)"> 购买 </button>
          </div>
          <div class="col-1"></div>
        </div>
      </div>
    </div>
</body>

<script src="static/script/include/vue.min.js"></script>
<script src="static/script/utils/req.js"></script>
<script src="static/script/header.js"></script>
<script>
  var app = new Vue({
    el: '#app',
    data: {
      product: {},
      image_names: {},
      cur_image_name: ''
    },
    methods: {
      switch_image: function(image_name) {
        this.cur_image_name = image_name;
      },
      purchase: function(product_id){
        let res = JSON.parse(sync_post('../api/product/purchase/' + product_id));
        if (res.code === 0) {
          alert('购买成功!');
        } 
      }
    },
    created: function() {
      let product_id = window.location.pathname.split('/').pop();
      this.product = sync_get_data('../api/product/' + product_id);
      this.image_names = sync_get_data('../api/product/image/' + product_id);
      this.cur_image_name = this.image_names[0];
    }
  });
</script>
</html>