<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>网购模拟系统</title>
    <base href="../../" target="_blank">
    <link rel="stylesheet" href="static/style/include/bootstrap.min.css">
    <link rel="stylesheet" href="static/style/product_detail.css">
    <style>
    </style>
</head>

<body>
    <div id="app">
      <div class="container">
        <div class="row mt-5">
          <div class="col-1"></div>
          <div class="col-5">
            <div class="left-info-box">
              <div class="img-box">
                <img src="static/image/三清山板栗.png" />
              </div>

              <div class="d-flex flex-row flex-nowrap preview-box-container">
                <div class="preview-box"><img src="static/image/三清山板栗.png"></div>
                <div class="preview-box"><img src="static/image/三清山板栗2.jpg"></div>
              </div>

              <p class="product_attr">
                <span class="price">价格: 20.9</span>
                <span class="sales">销量: 6000</span>
              </p>
            </div>
          </div>

          <div class="col-5">
            <p class="product_name">三清山板栗</p>
            <p class="description">三清山有很多野生板栗，野生栗不仅营养丰富，还有健脾养胃，补肾强骨的功效。三清山鸡心栗尤为出名，锥栗树结的果实，在霜降前后成熟，因为形状大小如同鸡心，故得此名。它味美香甜如板栗，可生吃，亦可熟食。三清山东麓长有很多鸡心栗树，鸡心栗也就得以登堂入室，成为山民们待客的佳品。</p>
          </div>
          <div class="col-1"></div>
        </div>

      </div>
    </div>
</body>

<script src="static/script/include/vue.min.js"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
        },
    });
</script>
</html>