<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>网购模拟系统</title>
    <base href="../../" target="_blank">
    <link rel="stylesheet" href="static/style/include/bootstrap.min.css">
    <link rel="stylesheet" href="static/style/product_list.css">
    <link rel="stylesheet" href="static/style/header.css">
    <style>
    </style>
</head>

<body>
    <div class="container">
      <header class="row mt-4 mb-4">
        <div class="col-10"></div>
        <div class="col-1"><a id="logout">退出登陆</a></div>
        <div class="col-1"></div>
      </header>
    </div>

    <div id="app">
      <div class="container">

        <div class="row mt-4 mb-4">
          <h2>{{ title }}</h2>
        </div>

        <div class="d-flex flex-row flex-wrap">
          <div class="product-box m-3" v-for="product in products">
            <div class="img-box">
              <img :src="'static/image/' + product.id + '/' + product.repr_image_name" />
            </div>
            <p class="product_name"><a :href="'product/' + product.id"> {{ product.name }} </a></p>
            <p>
              <span class="product_attr price">价格: {{ product.price }}</span>
              <span class="product_attr sales">销量: {{ product.sales }}</span>
            </p>
          </div>
        </div>

      </div>
    </div>
</body>

<script src="static/script/include/vue.min.js"></script>
<script src="static/script/utils/req.js"></script>
<script src="static/script/header.js"></script>
<script>
  var app = new Vue({
    el: '#app',
    data: {
      title: '',
      products: {},
      regions: {},
      categories: {},
    },
    created: function() {
      let query = window.location.search.substr(1);
      let primary_query = query.split('&')[0];
      let primary_query_key   = primary_query.split('=')[0].substr(0, primary_query.indexOf('_id'));
      let primary_query_value = primary_query.split('=')[1];

      console.log(primary_query_key, primary_query_value);

      this.products = sync_get_data('../api/product/product?' + query);
      this.title = sync_get_data('../api/product/' + primary_query_key)[primary_query_value].name;

      // Since the count of products per query is at most 2 in requirements, (and the system is running locally)
      // we simply iterate each product_id in front-end to simplify design.
      for (let i in this.products) {
        this.products[i].repr_image_name = sync_get_data('../api/product/repr_image/' + i);
        console.log(this.products[i].repr_image_name);
      }
    }
  });
</script>
</html>