<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>网购模拟系统</title>
    <base href="../../" target="_blank">
    <link rel="stylesheet" href="static/style/include/bootstrap.min.css" crossorigin="anonymous">
</head>

<body>
    <div id="app">
        <div class="container">
          <div class="row justify-content-center mt-4 mb-4">
            <h2>个人信息页</h2>
          </div>

          <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
              <form>
                  <div class="form-group row">
                    <div class="col-3">
                      <label for="id">序号</label>
                    </div>
                    <div class="col-9">
                      <input type="input" class="form-control" id="id">
                    </div>
                  </div>

                <div class="form-group row">
                  <div class="col-3">
                    <label for="age">年龄</label>
                  </div>
                  <div class="col-9">
                    <input type="input" class="form-control" id="age">
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-3">
                    <label for="address">居住地</label>
                  </div>
                  <div class="col-9">
                    <input type="input" class="form-control" id="address">
                  </div>
                </div>

                <div class="form-group row justify-content-center">
                    <button type="submit" class="btn btn-primary">确认</button>
                </div>
              </form>
            </div>
            <div class="col-3"></div>
          </div>
        </div>

    </div>
</body>

<script src="static/script/include/vue.min.js"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
        },
    });
</script>
</html>