<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>网购模拟系统</title>
    <base href="../../" target="_blank">
    <link rel="stylesheet" href="static/style/include/bootstrap.min.css" crossorigin="anonymous">
</head>

<body>
    <div id="app">
        <div class="container">
          <div class="row justify-content-center mt-4 mb-4">
            <h2>个人信息页</h2>
          </div>

          <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <div class="form-group row">
                  <div class="col-3">
                    <label for="id">序号</label>
                  </div>
                  <div class="col-9">
                    <input type="number" class="form-control" name="id" v-model="id">
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-3">
                    <label for="age">年龄</label>
                  </div>
                  <div class="col-9">
                    <input type="number" class="form-control" name="age" v-model="age">
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-3">
                    <label for="address">居住地</label>
                  </div>
                  <div class="col-9">
                    <input type="input" class="form-control" name="address" v-model="address">
                  </div>
                </div>

                <div class="form-group row justify-content-center">
                  <button class="btn btn-primary" v-on:click="login">确认</button>
                </div>
            </div>
            <div class="col-3"></div>
          </div>
        </div>

    </div>
</body>

<script src="static/script/include/vue.min.js"></script>
<script>
    var app = new Vue({
      el: '#app',
      data: {
        id: '',
        age: '',
        address: ''
      },
      methods: {
        login: function(){
          const xhr = new XMLHttpRequest();
          xhr.open("POST", '../api/user/login', false);
          xhr.setRequestHeader('content-type', 'application/json');

          xhr.onload = () => {
            let res = JSON.parse(xhr.response);
            if (res.code === 0){
              open('/', '_self');
            } else {
              alert(res.msg);
            }
          }

          xhr.send(JSON.stringify({
            "id":      parseInt(this.id),
            "age":     parseInt(this.age),
            "address": this.address
          }));
        }
      }
    });
</script>
</html>